<section class="article">

  <div class="d-flex py-1">
    <button type="button" class="btn bg-white btn-sm mb-2" (click)="back()">
      <i class="bi bi-chevron-left"></i>
      Back
    </button>
    <button type="button" class="btn bg-white btn-lg ml-auto text-danger article--btn-delete" *ngIf="article"
      (click)="confirmDelete(confirmTemplate)">
      <i class="bi bi-trash"></i> Delete
    </button>
  </div>

  <ng-container *ngIf="errorMessage; else articleTemplate">
    <h2 class="text-center text-muted">
      {{errorMessage}}
    </h2>
  </ng-container>

  <ng-template #articleTemplate>
    <div *ngIf="article" class="fade-in">

      <img [src]="article.picture" class="article__img">

      <div class="article__body">
        <h1 class="article__body--title">{{article.title}}</h1>

        <div class="article__body--date text-muted font-italic">{{article.createdAt | date:'EEEE, MMMM d, y h:mm a'}}
        </div>

        <p class="article__body--content mt-5">{{article.description}}</p>
      </div>
    </div>
  </ng-template>

</section>

<ng-template #confirmTemplate>
  <div class="modal-body text-center">
    <p>Do you want to delete this article?</p>
    <button type="button" class="btn btn-default mr-2" (click)="delete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>