<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-danger text-center">{{errorMessage}}</div>
  <form id="articleForm" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
    <div class="form-row">
      <div class="col-12 mb-3">
        <label for="articleTitle">Title</label>
        <input type="text" class="form-control" id="articleTitle" placeholder="Article Title" formControlName="title">
        <div class="text-danger" *ngIf="(formControl.title.touched) && formControl.title.errors">
          <span class="mr-1" *ngIf="formControl.title.errors?.required">Title is required.</span>
          <span class="mr-1" *ngIf="formControl.title.errors?.minlength">Title must be more than 3 characters.</span>
          <span class="mr-1" *ngIf="formControl.title.errors?.maxlength">Title must be less than 70 characters.</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-3">
        <label for="articleDescription">Description</label>
        <textarea rows="5" class="form-control" id="articleDescription" placeholder="Article Description"
          formControlName="description" required></textarea>
        <div class="text-danger" *ngIf="(formControl.description.touched) && formControl.description.errors">
          <span class="mr-1" *ngIf="formControl.description.errors?.required">Description is required.</span>
          <span class="mr-1" *ngIf="formControl.description.errors?.minlength">Description must be more than 3
            characters.</span>
          <span class="mr-1" *ngIf="formControl.description.errors?.maxlength">Description must be less than 500
            characters.</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-3">
        <label for="articlePicture">Picture</label>
        <input type="text" class="form-control" id="articlePicture" placeholder="Link" formControlName="picture">
        <div class="text-danger" *ngIf="(formControl.picture.touched) && formControl.picture.errors">
          <span class="mr-1" *ngIf="formControl.picture.errors?.required">Picture is required.</span>
          <span class="mr-1" *ngIf="formControl.picture.errors?.pattern">Invalid url.</span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit" class="btn btn-primary text-capitalize" form="articleForm"
    [disabled]="form.invalid || isLoading">{{actionBtnName}}</button>
</div>