<div class="container-fluid">

  <div class="article d-flex flex-wrap justify-content-center mb-5">
    <div class="card article--item fade-in" *ngFor="let article of articles" (click)="view(article)">
      <img class="card-img-top" [src]="article.picture" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{article.title}}</h5>
        <span class="text-muted">{{article.createdAt | date:'y, MMMM'}}</span>
        <p class="card-text">{{ (article.description.length > 200)? (article.description | slice:0:200)+'...' :
          (article.description)}}</p>

        <div class="d-flex justify-content-end mt-auto">
          <button type="button" class="btn bg-white text-success" (click)="editArticle($event, article)">
            <i class="bi bi-pencil"></i> Edit
          </button>
          <button type="button" class="btn bg-white text-danger ml-2" (click)="confirmDelete($event, article)">
            <i class="bi bi-trash"></i> Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-muted text-center" *ngIf="hasArticles === false">No articles to display</h3>

  <div class="load-more mb-5" *ngIf="canLoadMore">
    <button (click)="loadMore()" type="button" class="btn btn-secondary btn-sm">
      Load More
    </button>
  </div>
</div>